<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%= render :partial => "home/modal/host" %>
<br/>
<%= render :partial => "home/modal/place" %>
<br/>
<%= render :partial => "home/modal/time" %>

</body>
</html>
