<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" style="width:100%" data-toggle="modal" data-target="#timeModal" id="timebutton">
  날짜 : <div id="timeResult"></div>
</button>

<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="timeModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
             <script>$(function() {
                        $("#datepicker2").multiDatesPicker({
                          prevText: '이전 달',
                          nextText: '다음 달',
                          monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                          monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                          dayNames: ['일','월','화','수','목','금','토'],
                          dayNamesShort: ['일','월','화','수','목','금','토'],
                          dayNamesMin: ['일','월','화','수','목','금','토'],
                          yearSuffix: '년'
                        });
      							 });
      							 </script>
						<p>
					  기간설정: <input type="text" id="datepicker11" /> ~ <input type="text" id="datepicker12" />
						 </p>
						<div id="datepicker2"></div>
						<button id="clear">clear</button>
   <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="Close-time">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-time">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

