<style>
    .logo{
        background:#e62715;
    }
</style>
<div class="logo" style="height: 50px;">
    <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="btn">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="color:#fff;"></span>
    </a>
    <a href="#drawerExample2" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample2" class="btn">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="color:#fff;"></span>
    </a>
    <h1 style="text-align:center; margin-top:-30px;"><a href="/home/home" style="color:#fff;">jamong</a></h1>
</div>
