<ul class="nav nav-tabs">
  <li role="presentation" id="tab-1"><a href="/home/onehof" >일일호프</a></li>
  <li role="presentation" id="tab-2"><a href="/home/jujum">주점</a></li>
  <li role="presentation" id="tab-3"><a href="/home/dong">동아리공연</a></li>
  <li role="presentation" id="tab-4"><a href="/home/festival">축제</a></li>
</ul>